.navbar {
  background-color: var(--color-primary);
  height: 74px;
  /* width: 100vw; */
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedbackButton{
  color: var(--color-primary) !important;
  background-color: var(--color-black) !important;
  border-radius: 12px;
}